<!DOCTYPE html>
<html lang="en-US">
<head>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

<!-- Load polyfills to support older browsers -->
<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
<script src="javascripts/index.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
</head>
<body>
    <div id="app">
        <div v-cloak>
        <div>
            <b-modal hide-footer id="playerNameModal" title="Warning!" header-class="alert alert-warning">
                <p>Player Name is required</p>
            </b-modal>
        </div>
        <div>
            <b-modal hide-footer id="gameIdModal" title="Warning!" header-class="alert alert-warning">
                <p>Game Id is required</p>
            </b-modal>
        </div>
        <div>
            <b-modal hide-footer id="notYourTurnModal" title="Warning!" header-class="alert alert-warning">
                <p>Not your turn! Please wait for your turn</p>
            </b-modal>
        </div>
        <div>
            <b-modal hide-footer id="endRoundModal" title="Round Complete"  header-class="alert alert-success">
                <p>End of round {{prevround}}</p>
            </b-modal>
        </div>
        <div v-if="isLoading && !timesUp" class="loader"></div>
        <div v-if="isLoading && timesUp" class="timesup-loader"></div>
        <div v-if="!isLoading">
            <div class="welcomeDiv" v-if="!isWelcomeHidden">
                
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <!-- <h2 class="text-center">Welcome to whats in the bag!!!</h2> -->
                    </div>
                    <div class="col-2 text-right"><a href="rules">Check Rules!</a></div>
                </div>
                <div>
                    <img class="mt-2 centerImg" style="width:40%;height:40%;" src="../images/whatsinthebaglogofinal.gif" />
                </div>
                <div class="pt-4 text-center">
                    <button v-on:click="startNew" type="button" class="btn btn-primary">Start a new game</button>
                    <button v-on:click="joinGame" type="button" class="btn btn-primary ml-2">Join a game</button>
                </div>
            </div>
            <div class="flex enterGameDiv" v-if="!isStartGameHidden">
                <div class="flex-row pt-4">
                <span class="mx-2 mt-1 text-nowrap">Player Name</span> 
                <input v-model="playerName" type="text" class="form-control">
                <span class="mx-2 mt-1 text-nowrap">Number of Words</span>
                <select class="ml-2" v-model="numWords">
                    <option disabled value="">Please select one</option>
                    <option>40</option>
                    <option>50</option>
                    <option>60</option>
                </select>
                <span class="mx-2 mt-1 text-nowrap">Access Code</span> 
                <input v-model="accessCode" type="text" class="form-control">
                <button v-on:click="enterGame" type="button" class="btn btn-primary ml-3">Enter</button>
                </div>
            </div>
            <div class="flex enterGameDiv" v-if="!isJoinGameHidden">
                <div class="flex-row pt-4">
                <span class="mx-2 mt-1 text-nowrap">Player Name</span> 
                <input v-model="playerName" type="text" class="form-control col-md-3">
                <span class="mx-2 mt-1 text-nowrap">Game Id</span> 
                <input v-model="gameId" type="text" class="form-control col-md-3">
                <button v-on:click="enterGameGuest" type="button" class="col-md-2 ml-3 btn btn-primary">Enter</button>
                </div>
            </div>
            <div v-if="isGameInProgress && isAdmin">
                <div class="flex-row ml-2">{{gameDescription}}</div>
                <div class="flex-row mt-3"><button v-if="isAdmin" v-on:click="createTeams" type="button" class="btn btn-primary ml-2">Create Teams!</button><button v-if="!isAdmin" v-on:click="beginGame" type="button" class="btn btn-primary mx-2">Begin!</button><button v-on:click="clearCookies" type="button" class="btn btn-primary mx-2">Exit</button></div>
            </div>
            <div class="flex-column" v-if="showCreateTeams">
                <div class="flex-row ml-2">{{gameDescription}}</div>
                <div class="flex-row my-2">
                    <ul class="list-unstyled ml-3">
                        <li v-for="player in players">
                            {{ player }}
                            <select class="ml-2" v-model="selected[player]">
                                <option disabled value="">Please select one</option>
                                <option>A</option>
                                <option>B</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="flex-row"><button type="button" class="btn btn-primary mx-2" v-on:click="getPlayers">Refresh Player List</button><button v-on:click="submitTeams" type="button" class="btn btn-primary mx-2">Submit Teams</button><button v-on:click="clearCookies" type="button" class="btn btn-primary mx-2">Exit</button></div>
            </div>
            <div class="flex flex-column" v-if="showWords">
                <div class="flex-row full-width">
                    <div class="col-md-4"></div>
                    <div class="card card-header mt-2 text-center xx-large flex-grow-1 col-md-4">
                        <span class="align-middle card-body">{{currentWord}}</span>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="pl2 flex-grow-1">
                        <div class="flex-row">Round {{round}}</div>
                        <div class="flex-row">Team {{currentTeam}} Score: {{score[currentTeam]}}</div>
                        <div class="flex-row" v-bind:class="{ 'text-danger': isTimeEnding}">{{timeLeft.message}}</div>
                    </div>
                </div>
                <div class="flex-row mt-2 pt2 align-self-center">
                    <button v-on:click="correct" type="button" class="btn btn-primary width100 mx-3">Correct</button>
                    <button v-if="showPass" v-on:click="pass" type="button" class="btn btn-primary width100 mx-3">Pass</button>
                    <button v-on:click="endTurn" type="button" class="btn btn-primary width100 mx-3">End Turn</button>
                </div>
            </div>
            <div v-if="showScores || (isGameInProgress && !isAdmin)" class="flex-column xx-large ml-2">
                <div class="flex-row">
                    <div class="text-center col-md-6">Team A {{teamPlayers['A'].join(', ') }}</div>
                    <div class="text-center col-md-6">Team B {{teamPlayers['B'].join(', ')}}</div>
                </div>
                <div class="flex-row">
                    <div class="text-center col-md-6">{{finalScore['A']}}</div>
                    <div class="text-center col-md-6">{{finalScore['B']}}</div>
                </div>
                <div v-if="isGameEnded" class="flex-row text-center">
                   {{winner}}
                </div>
                <div v-if="isGameEnded" class="flex-row">
                    <img class="centerImg mt-2" src="https://media.giphy.com/media/g9582DNuQppxC/giphy.gif" />
                </div>
                <div v-if="!isGameEnded" class="col-md-12 text-center">
                    <h5>Next Turn: Team {{currentTeam}} Player {{currentPlayer}} Round {{round}}</h5>
                </div>
                <div class="flex-row pt2 align-self-center"><button v-if="!isGameEnded" v-on:click="beginGame" type="button" class="btn btn-primary mx-2">Resume!</button><button v-if="!isGameEnded && isAdmin" v-on:click="switchNextTurn" type="button" class="btn btn-primary mx-2">Switch Next Turn!</button><button v-if="!isGameEnded && isAdmin" v-on:click="removeCurrentPlayer" type="button" class="btn btn-primary mx-2">Remove Player {{currentPlayer}}</button><button v-on:click="clearCookies" type="button" class="btn btn-primary mx-2">Exit</button></div>
            </div>
        </div>
    </div>
    </div>
</body>
<footer class="page-footer font-small text-muted pt-4 fixed-bottom">
    <div class="footer-copyright text-center">© 2020 Copyright: Created by 
        <a target="_blank" href="https://www.linkedin.com/in/kartik-k-shetty/">Kartik Shetty</a>
    </div>
</footer>
</html>